<div id="detail" *ngIf="installation">
  <div class="mb15 flex flex-sb detail-header">
    <h1 class="mb15">{{ installation.cleanUrl }}</h1>
    <div class="flex flex-aic">
      <mat-spinner class="mr10 inline-block" [diameter]="30" *ngIf="updating"></mat-spinner>
      <button mat-raised-button color="accent" class="flex" (click)="update()">Update erzwingen</button>
    </div>
  </div>
  <div>
    <div class="mb15">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Dependencies</mat-panel-title>
          <mat-panel-description>Installierte Pakete anzeigen</mat-panel-description>
        </mat-expansion-panel-header>

        <app-package [installation]="installation"></app-package>
      </mat-expansion-panel>
    </div>

    <div class="mb15">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Monitoring</mat-panel-title>
          <mat-panel-description>Response-Diagramm anzeigen</mat-panel-description>
        </mat-expansion-panel-header>

        <app-monitoring [installation]="installation"></app-monitoring>
      </mat-expansion-panel>
    </div>
  </div>
</div>
