@import "../../default";


.website {
  .name {
    align-items: center;
  }

  &:hover {
      background-color: $dark-white;
  }
}

a {
  color: $grey;

  &:hover {
    color: $blue;
  }
}

.version {
  align-items: center;
}
