<div class="tr website flex" >
  <div class="td w30 p10">
    <div class="flex name">
      <img [src]="website.favicon" width="16" height="16" class="pr10">
      <a class="link color-grey" [href]="website.url" target="_blank">{{ website.cleanUrl }}</a>
    </div>
    <span class="block">hinzugefügt am {{ website.added | date:'short' }}</span>
  </div>
  <div class="td w20 p10">
    <a class="version flex" href="https://contao.org"><img src="assets/img/icons/contao.svg" width="16" height="16" class="pr10"> Contao</a>
    <span [ngClass]="{
      'color-green': website.contao.supported === true,
      'color-red': website.contao.supported === false
    }">Version {{ website.contao.version }}</span>
  </div>
  <div class="td w20 p10">
    <a class="version flex" href="https://secure.php.net"><img src="assets/img/icons/php.svg" width="16" height="16" class="pr10"> PHP</a>
    <span *ngIf="phpVersions" [ngClass]="{
      'color-green': phpVersions.includes(website.phpWeb.version) === true,
      'color-red': phpVersions.includes(website.phpWeb.version) === false
    }">Version {{ website.phpWeb.version }}</span>
  </div>
  <div class="td w30 p10">
    <div class="flex status">
      <span>letztes Monitoring:</span>
      <span *ngIf="monitoring">{{ monitoring.createdAt | date:'medium' }} ({{ monitoring.status }} {{ monitoring.statusText }})</span>
      <span (click)="openMonitoringDialog()"><img src="assets/img/icons/chart.svg" width="20" height="20" class="pointer"></span>
    </div>
    <span class="flex">letztes Update am {{ website.lastUpdate | date:'medium' }}</span>
  </div>
</div>
