<h2 mat-dialog-title>Neue Installation</h2>

<mat-dialog-content>
  <div class="installation">
    <form>
      <mat-form-field>
        <input matInput type="url" name="url" placeholder="URL zum Contao Manager" id="url" (input)="checkUrl()" [formControl]="url">
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button color="warn" (click)="closeDialog()">Abbrechen</button>
  <button mat-button color="accent" [disabled]="disableManagerButton" (click)="setManagerUrl(); isUrlValid()">Contao Manager Autofill</button>
  <button mat-button color="primary" [disabled]="disableOpenButton" (click)="openUrl()" cdkFocusInitial>Einrichten</button>
</div>
