@import "../../default";
@import "../../material";

.mat-column-cleanUrl {

}
.mat-column-software {

}
.mat-column-platform {

}
.mat-column-status {
  max-width: 150px;
}
.mat-column-detail {
  max-width: 50px;
}

.hover-primary:hover {
  color: map_get($mat-blue, 500);
}
