<div class="website-add flex flex-sb mb15">
  <h1>Installationen</h1>
  <button mat-raised-button color="accent" (click)="openDialog()">Neue Installation</button>
</div>
<div id="websites" class="bg-white round-border">
  <mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)" class="w100" *ngIf="dataSource">
    <ng-container matColumnDef="cleanUrl">
      <mat-header-cell *matHeaderCellDef mat-sort-header="cleanUrl">Name</mat-header-cell>
      <mat-cell *matCellDef="let website">
        <img [src]="website.favicon" width="16" height="16" class="mr5">
        <a class="color-grey hover-primary" [href]="website.url" target="_blank">{{ website.cleanUrl }}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="software">
      <mat-header-cell *matHeaderCellDef>Software</mat-header-cell>
      <mat-cell *matCellDef="let website" [routerLink]="['/website', website.hash]">
        <a class="version flex color-grey hover-primary" href="https://contao.org">
          <img src="assets/img/icons/contao.svg" width="16" height="16" class="pr10"> Contao
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="softwareVersion">
      <mat-header-cell *matHeaderCellDef mat-sort-header="softwareVersion">Software Version</mat-header-cell>
      <mat-cell *matCellDef="let website" [routerLink]="['/website', website.hash]">
        <span [ngClass]="{
          'color-green': website.contao.supported === true,
          'color-red': website.contao.supported === false
        }">{{ website.contao.version }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="platform">
      <mat-header-cell *matHeaderCellDef>Plattform</mat-header-cell>
      <mat-cell *matCellDef="let website" [routerLink]="['/website', website.hash]">
        <a class="version flex color-grey hover-primary" href="https://secure.php.net">
          <img src="assets/img/icons/php.svg" width="16" height="16" class="pr10"> PHP
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="platformVersion">
      <mat-header-cell *matHeaderCellDef>Plattform Version</mat-header-cell>
      <mat-cell *matCellDef="let website" [routerLink]="['/website', website.hash]">
        <span *ngIf="phpVersions" [ngClass]="{
          'color-green': phpVersions.includes(website.phpWeb.version) === true,
          'color-red': phpVersions.includes(website.phpWeb.version) === false
        }">{{ website.phpWeb.version }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header="isPrivate">Status</mat-header-cell>
      <mat-cell *matCellDef="let website">
        <button mat-raised-button color="primary">
          <a (click)="openMonitoringDialog(website)">Monitoring</a>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="detail">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let website">
        <button mat-icon-button [matMenuTriggerFor]="websiteMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #websiteMenu="matMenu" xPosition="before">
          <button mat-menu-item [routerLink]="['/website', website.hash]">
            <mat-icon>zoom_in</mat-icon>
            <span>Details</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableOptions.displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let website; columns: tableOptions.displayedColumns;"></mat-row>
  </mat-table>
</div>
