@import "../../default";

.website-add {
  justify-content: space-between;
  align-items: baseline;
}

#websites {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid $light-grey;
}

.thead {
  border-bottom: 1px solid $light-grey;
}

.th {
  text-transform: uppercase;
  font-weight: 700;
  font-size: $font-small;
}
