<div class="website-add flex">
    <h1>Installationen</h1>
    <button mat-button (click)="openDialog()">Neue Installation</button>
</div>
<div id="websites" class="bg-white">
    <div class="table" *ngIf="websites">
        <div class="thead">
            <div class="tr flex">
                <div class="th w30 p10">Name</div>
                <div class="th w20 p10">Software</div>
                <div class="th w20 p10">Plattform</div>
                <div class="th w30 p10">Status</div>
            </div>
        </div>
        <div class="tbody">
            <app-website *ngFor="let website of websites" [website]="website" [phpVersions]="phpVersions"></app-website>
        </div>
    </div>
    <div class="table empty" *ngIf="!websites">
        <p>Es wurden noch keine Installationen hinterlegt.</p>
    </div>
</div>
