nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  ul {
    display: flex;
    list-style-type: none;

    &.menu {

    }

    &.account {

    }

    li {
      padding: 10px;
    }
  }


}
