nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    list-style-type: none;

    &.menu {

    }

    &.account {

    }

    li {
      padding-right: 10px;

      > * {
        color: #fff;
      }

    }
  }


}
