@import '../../material';

.define-height {
  height: 100%;
}

.console-output {
  background-color: black;
  color: map_get($mat-green, 500);
  height: calc(100% - 30px);
  overflow-y: scroll;
}

code {
  word-break: break-word;
}
