// fonts
$font: 400 14px/1.4 -apple-system,system-ui,Segoe UI,Helvetica Neue,sans-serif;
$font-small: .875rem;

// width
$max-width: 1400px;

@for $i from 1 through 100 {
  .w#{$i} {
    width: #{percentage($i/100)};
  }
}

$white: #fff;
$dark-white: #f3f3f3;
$light-grey: #ccc;
$grey: #2f2f2f;
$red: #D86E73;
$blue: #5db7f4;
$green: #5db27d;
$body: #e5e8ea;

// colors
$colors: (
  white: $white,
  dark-white: $dark-white,
  light-grey: $light-grey,
  grey: $grey,
  red: $red,
  blue: $blue,
  green: $green,
  body: $body
);

@mixin bg-color-mod {
  @each $name, $hex in $colors {
    &-#{$name} {
      background-color: $hex;
    }
  }
}

@mixin color-mod {
  @each $name, $hex in $colors {
    &-#{$name} {
      color: $hex;
    }
  }
}

.bg {
  @include bg-color-mod;
}

.color {
  @include color-mod;
}

// margins and paddings
@for $i from 1 through 30 {
  .m#{$i} {
    margin: #{$i}px;
  }
  .mt#{$i} {
    margin-top: #{$i}px;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px;
  }
  .mtb#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }
  .ml#{$i} {
    margin-left: #{$i}px;
  }
  .mr#{$i} {
    margin-right: #{$i}px;
  }
  .mlr#{$i} {
     margin-left: #{$i}px;
    margin-right: #{$i}px;
   }

  .p#{$i} {
    padding: #{$i}px;
  }
  .pt#{$i} {
    padding-top: #{$i}px;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px;
  }
  .ptb#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
  .pl#{$i} {
    padding-left: #{$i}px;
  }
  .pr#{$i} {
    padding-right: #{$i}px;
  }
  .plr#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
}
